.news-box{
    width: 450px;
    height: 300px;
    border: 1px solid gray;
    background: gainsboro;
    margin: auto;
    margin-top: 200px;
    padding-left: 25px;
    padding-right: 25px;
}

li{
    color: red;
}